@font-face {
    font-family: 'main-font';
    src: url('Fonts/GoudyBookletter1911.woff2') format('woff2'),
        url('Fonts/GoudyBookletter1911.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    font-size: 16px;
    font-family: 'main-font', 'Times New Roman', Times, serif;
}



html {
    height: 100vh;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 250px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

button {
    appearance: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #FFD460;
    color: #2D4059;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2rem;
}

main {
    transition: margin-left .5s;
    display: grid;
    grid-template-rows: 1fr, 1fr 2fr;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #2D4059;
    color: white;
    padding: 20px;
    letter-spacing: -0.05rem;

}

form section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

form section div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}


input {
    appearance: none;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1rem;

}

input,
select {
    box-shadow: 1px 2px 50px 5px rgba(231, 112, 14, 0.5);

}

label {
    font-size: 1.2rem;
}


input:valid {
    border: 2px solid green;

}

#add-button {
    grid-template-rows: 2;
    height: 40px;
    justify-self: center;
    align-self: center;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: #2D4059;
    color: white;
    font-size: 1.2rem;
    margin: 50px 0px;
    box-shadow: 1px 1px 7px 1px rgba(10, 10, 10, 0.5);
    border: none;
    font-weight: bold;
    cursor: pointer;



}

#add-button:hover {
    background-color: #445e80;

}

#add-button:active {
    background-color: #3d4d63;
    ;

}


#submit-button {
    height: 40px;
    justify-self: center;
    align-self: center;
    padding: 5px 30px;
    border-radius: 15px;
    background-color: rgb(69, 189, 21);
    border: none;
    color: white;
    font-size: 1.2rem;
    margin: 50px 0px;
    box-shadow: 1px 1px 10px 2px rgba(100, 100, 100, 0.5);
    font-weight: bold;
    cursor: pointer;

}

#submit-button:hover {
    background-color: rgb(54, 150, 16);

}

#submit-button:active {
    background-color: rgb(96, 172, 66);

}


.btn-success:active,
.btn-danger:active,
#submit-button:active,
#add-button:active {
    transform: translateY(-2px);

}

.cards {
    width: 70%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-self: center;
    gap: 10px;
}

.book-card {
    position: relative;
    width: 250px;
    height: 300px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: #2D4059;
    color: white;
    font-size: 1.2rem;
    border: 3px solid rgba(209, 208, 208, 0.5);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px 2px rgba(10, 10, 10, 0.5);
    font-size: 1.3rem;
    font-weight: bold;
}

.book-card .book-card-textfield:first-child {
    margin-top: 20px;
}

.book-card-textfield {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(209, 208, 208, 0.5);


}


.btn-success {
    background-color: green;
}

.btn-success:hover {
    background-color: rgb(9, 167, 9);
}

.btn-danger {
    background-color: rgb(255, 60, 0);
}

.btn-danger:hover {
    background-color: rgb(201, 27, 27);
}

.btn-success:active,
.btn-danger:active {
    transform: translateY(-5px);

}

.btn-success,
.btn-danger {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    width: 200px;
    font-weight: bold;
    transition: all 0.5s;


}

.remove-button {
    position: absolute;
    bottom: 280px;
    right: -13px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    border: none;
    background-color: red;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0px;
    line-height: 0px;
}

@keyframes rotateAround {
    50% {
        transform: rotate(360deg);
    }
}

a>img:hover,
.remove-button:hover {
    animation: rotateAround 3s infinite;
}


.card-id {
    opacity: 0;
    width: 0;
    height: 0;
}